PORT=4000
CLIENT_ORIGIN=http://localhost:5173

# Set your Nebula Labs API information here
NEBULA_BASE_URL=https://api.utdnebula.com
NEBULA_API_KEY=your_nebula_api_key_here

# MongoDB Atlas connection string
MONGODB_URI=your_mongodb_uri_here

# Google Gemini API
GEMINI_API_KEY=your_gemini_key_here
GEMINI_MODEL=gemini-1.5-flash

